<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lorena Allumette</title>

    <!-- Icono en pestaña abierta-->
    <link rel="icon" href="./../assets/flama_newcolor.png">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&family=Creepster&family=La+Belle+Aurore&display=swap" rel="stylesheet">

    <!-- Iconos redes sociales -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="./../css/estilos.css">
</head>

<body>
    <!-- Cabecera compuesta por un logo y la barra de navegación -->
    <header>
        <div id="banner">
            <img id="imagotipo"
            src="./../assets/imagotipo_blanco.png" 
            width="788" 
            height="255" 
            alt="Imagotipo de una flama y texto a su derecha: Lorena Allumette"
            title="Imagotipo de Lorena Allumette">
        </div>    
        
        <div id="navbar">
            <div class="navbar-buttons">
                <a class="navegacion" href="./../index.html">Inicio
                </a>
            </div>
            <div class="navbar-buttons">
                <a class="navegacion" href="./portfolio.html">Portfolio
                </a>
            </div>
            <div class="navbar-buttons">
                <a class="navegacion" href="./presupuesto.html">Presupuesto
                </a>
            </div>
            <div class="navbar-buttons">
                <a class="navegacion-actual" href="./about.html">Sobre mí
                </a>
            </div>
            <div class="navbar-buttons">
                <a class="navegacion" href="./contacto.html">Contacto
                </a>
            </div> 
        </div>

    </header>

    <main class="cuerpo-pagina">

        <div class="titulo-paginas">
            <h1 class="titulos">Sobre mí</h1>
        </div>
        <hr class="linea">

        <div id="contenido-sobreMi">

            <img id="retrato-foto"
            src="./../assets/portrait_pfp.png"
            alt="Fotografía selfie de Lorena Allumette"
            title="Fotografía de Lorena Allumette"
            width="1000"
            height="1000">

            <div id="contenido2-sobreMi">
                <div id="flama">
                    <img id="flama-foto"
                    src="./../assets/flama_newcolor.png"
                    alt="Icono estilo logotipo de Lorena Allumette"
                    title="Versión de logotipo de Lorena Allumette"
                    width="4167"
                    height="4167">
                </div>
                <div id="texto-sobreMi">
                    ¡Hola! Mi nombre es Lorena Navarro, aunque me represento artísticamente como <span class="negrita">'Allumette'</span>.

                    Soy una artista 2D con especialización en <span class="negrita"> animación </span>y <span class="negrita">concept art</span> enfocada a proyectos de animación (2D y 3D).
                    Estoy graduada en Bellas Artes (UPV), lo que me ha permitido abarcar varios ámbitos del mundo creativo,
                    incluyendo el <span class="negrita">diseño gráfico</span>, la <span class="negrita">ilustración</span> 
                    y la <span class="negrita">edición de vídeo</span>. Actualmente, estoy cursando un Curso superior de Programación de páginas Web. 

                    Gran parte de mi inspiración proviene de la música y la obervación de mi entorno. Todo cuenta una historia, y me encanta poder representarlas a través del arte.

                    'Allumette' significa cerilla en francés, y aunque tiene que ver con que mi madre es francesa, representa mi personalidad: paciente y cálida.
                </div>
            </div>
        </div>

    </main>

    <!-- Pie de página compuesto por tres iconos de redes sociales e información legal -->
    <footer id="pie-pagina">

        <div id="social-media">
            <a class="rrss" href="https://instagram.com/lorenallumette" target="_blank">
                <i class="fa fa-instagram"></i>
            </a>
            <a class="rrss" href="https://vimeo.com/user208402128" target="_blank">
                <i class="fa fa-vimeo"></i>
            </a>
            <a class="rrss" href="https://linkedin.com/in/lorenallumette" target="_blank">
                <i class="fa fa-linkedin"></i>
            </a>
        </div>

        <div id="aviso-legal">
            <div class="enlaces-footer">Aviso legal
            </div>
            <div class="enlaces-footer">Política de privacidad
            </div>
            <div class="enlaces-footer">Cookies
            </div>
        </div>
        <div id="direccion">C/ Ramon Llull, 5. 46021 | Valencia, España
        </div>

    </footer>
    
</body>
</html>