<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lorena Allumette</title>

    <!-- Icono en pestaña abierta-->
    <link rel="icon" href="./../assets/flama_newcolor.png">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&family=Creepster&family=La+Belle+Aurore&display=swap" rel="stylesheet">

    <!-- Iconos redes sociales -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="./../css/estilos.css">
</head>

<body>
    <!-- Cabecera compuesta por un logo y la barra de navegación -->
    <header>
        <div id="banner">
            <img id="imagotipo"
            src="./../assets/imagotipo_blanco.png" 
            width="788" 
            height="255" 
            alt="Imagotipo de una flama y texto a su derecha: Lorena Allumette"
            title="Imagotipo de Lorena Allumette">
        </div>    
        
        <div id="navbar">
            <div class="navbar-buttons">
                <a class="navegacion" href="./../index.html">Inicio
                </a>
            </div>
            <div class="navbar-buttons">
                <a class="navegacion" href="./portfolio.html">Portfolio
                </a>
            </div>
            <div class="navbar-buttons">
                <a class="navegacion" href="./presupuesto.html">Presupuesto
                </a>
            </div>
            <div class="navbar-buttons">
                <a class="navegacion" href="./about.html">Sobre mí
                </a>
            </div>
            <div class="navbar-buttons">
                <a class="navegacion-actual" href="./contacto.html">Contacto
                </a>
            </div> 
        </div>

    </header>

    <main class="cuerpo-pagina">
        <div class="titulo-paginas">
            <h1 class="titulos">Contacto</h1>
        </div>

        <hr class="linea">

        <!-- Sección con información de contacto -->
        <div id="contenido-contacto">

            <div id="informacion">
                <div class="informacion-A">
                    <div class="contacto-iconos">
                        <i class="fa fa-envelope"></i>
                        <a id="enlace-contacto" href="mailto:@correo.com">Email:</a>
                    </div>
                    <div>lorenallumette@gmail.com</div>
                </div>

                <div class="informacion-A">
                    <div class="contacto-iconos">
                        <i class="fa fa-phone"></i> 
                    Teléfono:
                    </div>
                    <div>+34 655 157 130</div>
                </div>

                <div class="informacion-A">
                    <div class="contacto-iconos">
                        <i class="fa fa-map-marker"></i> 
                        Dirección:
                    </div>
                    <div>Calle Ramon Llull, 5. 
                        46021 | Valencia, España.
                    </div>

                </div>
            </div>

            <!-- Sección de un mapa de Google con la ubicación -->
            <div id="mapa">
                <iframe id="mapa" 
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3079.739516100103!2d-0.3502380236334329!3d39.47521301240382!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd6048900b5bc601%3A0xd9ceacf57f47eb7b!2sCarrer%20de%20Ramon%20Llull%2C%205%2C%20Algir%C3%B3s%2C%2046021%20Val%C3%A8ncia!5e0!3m2!1ses!2ses!4v1729433453132!5m2!1ses!2ses" 
                width="600" 
                height="500" 
                style="border:0;" 
                allowfullscreen="" 
                loading="lazy" 
                referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>

    </main>

    <!-- Pie de página compuesto por tres iconos de redes sociales e información legal -->
    <footer id="pie-pagina">

        <div id="social-media">
            <a class="rrss" href="https://instagram.com/lorenallumette" target="_blank">
                <i class="fa fa-instagram"></i>
            </a>
            <a class="rrss" href="https://vimeo.com/user208402128" target="_blank">
                <i class="fa fa-vimeo"></i>
            </a>
            <a class="rrss" href="https://linkedin.com/in/lorenallumette" target="_blank">
                <i class="fa fa-linkedin"></i>
            </a>
        </div>

        <div id="aviso-legal">
            <a class="enlaces-footer" href="">Aviso legal</a>
            <a class="enlaces-footer" href="">Política de privacidad</a>
            <a class="enlaces-footer" href="">Cookies</a>
        </div>
        <div id="direccion">C/ Ramon Llull, 5. 46021 | Valencia, España
        </div>

    </footer>

</body>
</html>