<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lorena Allumette</title>

    <!-- Icono en pestaña abierta-->
    <link rel="icon" href="./../assets/flama_newcolor.png">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&family=Creepster&family=La+Belle+Aurore&display=swap" rel="stylesheet">

    <!-- Iconos redes sociales -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="./../css/estilos.css">
</head>

<body>
    <!-- Cabecera compuesta por un logo y la barra de navegación -->
    <header>
        <div id="banner">
            <img id="imagotipo"
            src="./../assets/imagotipo_blanco.png" 
            width="788" 
            height="255" 
            alt="Imagotipo de una flama y texto a su derecha: Lorena Allumette"
            title="Imagotipo de Lorena Allumette">
        </div>    
        
        <div id="navbar">
            <div class="navbar-buttons">
                <a class="navegacion" href="./../index.html">Inicio
                </a>
            </div>
            <div class="navbar-buttons">
                <a class="navegacion-actual" href="./portfolio.html">Portfolio
                </a>
            </div>
            <div class="navbar-buttons">
                <a class="navegacion" href="./presupuesto.html">Presupuesto
                </a>
            </div>
            <div class="navbar-buttons">
                <a class="navegacion" href="./about.html">Sobre mí
                </a>
            </div>
            <div class="navbar-buttons">
                <a class="navegacion" href="./contacto.html">Contacto
                </a>
            </div> 
        </div>

    </header>

<body>
    <main class="cuerpo-pagina">

        <div class="titulo-paginas">
            <h1 class="titulos">Portfolio</h1>
        </div>
        <hr class="linea">
        
        <!-- Orden por secciones según el contenido del portfolio -->
        <!-- Sección de diseño gráfico -->
        <p class="seccion">✰ Diseño gráfico ✰</p>
        <div id="design">

            <div>
                <img id="branding1"
                src="./../assets/Presentat_kandel.png"
                alt=""
                title=""
                width="4501"
                height="8001">
            </div>

            <div>
                <img id="branding2"
                src="./../assets/rrss_kandel.png"
                alt=""
                title=""
                width="2918"
                height="2084">
                <p class="texto-diseño"><span class="negrita">Kandel</span> es un proyecto ficticio de <span class="cursiva">branding</span>
                    cuyo objetivo es crear una identidad visual para una marca de velas y aceites aromáticos. Se abordan aspectos como la creación del logo, 
                    paleta de color, grafismos y mockups finales para productos y redes sociales.
                    La paleta es cálida, vibrante, con tonos atrevidos que evocan el fuego desde una perspectiva femenina.</p>
            </div>
            
        </div>

        <!-- Sección de diseño de póster -->
        <p class="seccion">✰ Poster design ✰</p>
        <div class="galeria-B">
            <img class="poster-instagram"
            src="./../assets/foodmusic-poster.png"
            alt=""
            title=""
            width="1080"
            height="1350">

            <img class="poster-instagram"
            src="./../assets/challengers-poster.png"
            alt=""
            title=""
            width="1080"
            height="1350">

            <img class="poster-instagram"
            src="./../assets/joost-poster.png"
            alt=""
            title=""
            width="1080"
            height="1350">

            <img class="poster-cuadrado"
            src="./../assets/bambie-poster.png"
            alt=""
            title=""
            width="1000"
            height="1000">

            <img class="poster-cuadrado"
            src="./../assets/maneskin-poster.png"
            alt=""
            title=""
            width="1000"
            height="1000">
        </div>

        <!-- Sección de cómic -->
        <p class="seccionB">✰ Comic ✰</p>
        <div class="galeria-C">
            <img class="comic"
            src="./../assets/comic-1.jpg"
            alt=""
            title=""
            width="3508"
            height="2480">
            <img class="comic" 
            src="./../assets/comic-2.jpg"
            alt=""
            title=""
            width="3508"
            height="2480">
        </div>

        <!-- Sección de ilustración -->
        <p class="seccion">✰ Illustration ✰</p>
        <div class="galeria-D">
            <img class="concept"
            src="./../assets/arte-1.png"
            alt=""
            title=""
            width="1920"
            height="1080">
            <img class="concept"
            src="./../assets/arte-2.png"
            alt=""
            title=""
            width="1920"
            height="1080">
            <img class="concept2"
            src="./../assets/bastards_cinema.png"
            alt=""
            title=""
            width="3508"
            height="2480">
            <img class="concept3"
            src="./../assets/stuck_music.PNG"
            alt=""
            title=""
            width="2048"
            height="2048"><img class="concept3"
            src="./../assets/kooks_music.PNG"
            alt=""
            title=""
            width="2048"
            height="2048">
        </div>   

        <!-- Sección de diseño de animación -->
        <p class="seccion">✰ Animation ✰</p>
        <div id="video-contenido" >
            <video id="demoreel" 
            src="./../assets/demoreel.mp4" 
            controls
            poster="./../assets/fondo-reel.png">
            </video>
        </div>
    </main>
        
    <!-- Pie de página compuesto por tres iconos de redes sociales e información legal -->
    <footer id="pie-pagina">

        <div id="social-media">
            <a class="rrss" href="https://instagram.com/lorenallumette" target="_blank">
                <i class="fa fa-instagram"></i>
            </a>
            <a class="rrss" href="https://vimeo.com/user208402128" target="_blank">
                <i class="fa fa-vimeo"></i>
            </a>
            <a class="rrss" href="https://linkedin.com/in/lorenallumette" target="_blank">
                    <i class="fa fa-linkedin"></i>
            </a>
        </div>
    
        <div id="aviso-legal">
            <a class="enlaces-footer" href="">Aviso legal</a>
            <a class="enlaces-footer" href="">Política de privacidad</a>
            <a class="enlaces-footer" href="">Cookies</a>
        </div>
        <div id="direccion">C/ Ramon Llull, 5. 46021 | Valencia, España
        </div>

    </footer>
    
</body>
</html>